body {
  background-color: #9ba6a5;
  display: block;
  margin: 60px auto;
}
h1 {
  text-align: center;
  color: #402a23;
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
  border: 2px solid #402a23;
  padding: 15px;
  border-radius: 25px;
  margin: 10px;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #a55233;
  font-family: "Oxygen", sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  border-radius: 45px;
  max-width: 100%;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: dotted;
}

p {
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 20px;
}

span {
  display: block;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 20px;
}

.origin {
  color: #e84a5f;
  text-decoration: none;
}

.origin:hover {
  text-decoration: underline;
  cursor: pointer;
}

.read-more {
  color: #e84a5f;
  text-decoration: none;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.read-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  background-color: transparent;
  color: black;
  display: block;
  margin: 0 auto;
  font-size: 35px;
  padding: 15px 20px;
  border: 1px solid #596e79;
  background-color: transparent;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
}

button:hover {
  color: white;
  background-color: #a55233;
}

.container {
  width: 50%;
  margin: 40px auto;
  padding: 25px;
  display: block;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border-radius: 15px;
}

.salutation {
  text-align: center;
}

.salutation-two {
  text-decoration: none;
  color: #e84a5f;
}
